

body{
 
    background: #0e76e5;
    font-family:courier,arial,helvética;
}

.marco{
    background:#d8d6b8;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 5%;
    border: 3px solid black;
    text-align: left;
    border-radius: 20px

}


input, img, a{
    margin: 3px;

}

div label{
    width: 200px;
    display: inline-block;
    margin-left: 15%;
}


.botones{
   text-align: center;
   
}



.oculto{display: none;}

.error{
      border-color: red;
      background-color: red;
}